@mixin bgcolor-rgba($r, $g, $b, $a) {
  background-color: rgb($r, $g, $b);
  background-color: rgba($r, $g, $b, $a);
}

@mixin text-outline($color, $size: 1px) {
  // Based on https://stackoverflow.com/a/4919231
  $nsize: -$size;
  text-shadow: $nsize $nsize 0 $color,
               $size $nsize 0 $color,
               $nsize $size 0 $color,
               $size $size 0 $color;
}
