$controls-height: 48px;
$progress-height: 2px;
$player-height: $progress-height + $controls-height;

$albumart-size: 32px;
$btn-text-color: rgba(0, 0, 0, 0.8);
$main-bg: #fff;
$transparent: rgba(255, 255, 255, 0);
$ui-element-bg: #e6e6e6;
$ui-element-hover-bg: rgba(230, 230, 230, 0.75);
