-r requirements.txt
flake8
pep257
pep8-naming
Sphinx
# sphinxcontrib-coffee
hg+https://bitbucket.org/birkenfeld/sphinx-contrib#egg=sphinxconfib-coffee&subdirectory=coffeedomain
sphinxconfig-httpdomain
