{% extends 'base.html' %}{# vim: set ft=jinja ts=2 sts=2 sw=2 : #}

{% block title %}Music Player{% endblock %}

{% block content %}
<div class="pure-g">
  <nav class="pure-u-1-5">
    <span id="playlists-loading" class="fa fa-4x fa-spin fa-spinner"></span>
    <ul id="playlists"></ul>
  </nav>
</div>

{% endblock content %}

{% block footer %}

<script type="text/template" id="playlist-entry-tpl">
  <a href="#playlist/[[ id ]]">[[ name ]]</a>
</script>

<script type="text/template" id="playlist-tpl">
  {% include 'js/playlist.mtpl' %}
</script>

<script type="text/template" id="player-tpl">
  {% include 'js/player.mtpl' %}
</script>

<script type="text/template" id="now-playing-tpl">
  {% include 'js/now-playing.mtpl' %}
</script>
{% endblock footer %}
