{% extends 'base.html' %}{# vim: set ft=jinja ts=2 sts=2 sw=2 : #}

{% block title %}Music Player{% endblock %}

{% block content %}
<nav>
  <ul id="playlists"></ul>
  <span id="playlists-loading" class="fa fa-4x fa-spin fa-spinner"></span>
</nav>

{% endblock content %}

{% macro mtpl(name) -%}
<script type="text/template" id="{{ name }}-tpl">
{% include "js/{0}.mtpl".format(name) %}
</script>
{% endmacro -%}

{% block footer %}

{{ mtpl('playlist-entry') }}
{{ mtpl('playlist-track') }}
{{ mtpl('playlist') }}
{{ mtpl('player') }}
{{ mtpl('now-playing') }}
{{ mtpl('album') }}
{% endblock footer %}
