{% extends 'base.html' %}{# vim: set ft=jinja ts=2 sts=2 sw=2 : #}

{% block title %}Music Player{% endblock %}

{% block content %}
<div class="pure-g">
  <nav class="pure-u-1-5">
    <button id="get-playlists" class="pure-button pure-button-primary">Get Playlists</button>
    <ul id="playlists"></ul>
  </nav>
  <section class="pure-u-4-5" id="playlist">
  </section>
</div>

{% endblock content %}

{% block footer %}
<audio id="player" autoplay></audio>
<nav>
  <button class="pure-button"><span class="fa fa-step-backward"></span></span>
  <button class="pure-button"><span class="fa fa-backward"></span></span>
  <button class="pure-button"><span class="fa fa-stop"></span></span>
  <button class="pure-button"><span class="fa fa-play"></span></span>
  <button class="pure-button"><span class="fa fa-forward"></span></span>
  <button class="pure-button"><span class="fa fa-step-forward"></span></span>
</nav>

<script type="text/template" id="playlist-entry-tpl">
  <a data-playlist-id="[[ id ]]" href="#playlist-[[ id ]]">[[ name ]]</a>
</script>

<script type="text/template" id="playlist-tpl">
  <section id="playlist-info">
    <h3 class="delta">[[ name ]]</h3>
  </section>
  <table class="listing pure-table pure-table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Track</th>
        <th>Artist</th>
        <th>Album</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      [%
        tracks.forEach(function(track) {
          var tdata = track.get('track');
          var t_aa = tdata.get('albumArtRef');
      %]
      <tr>
        <td class="albumart">[% if (!!t_aa) { %]<span data-song-id="[[ tdata.id ]]" data-art-url="[[ t_aa[0].url ]]" class="fa" style="background-image:url([[ t_aa[0].url ]])"></span>[% } %]</td>
        <td>[[ tdata.get('title') ]]</td>
        <td>[[ tdata.get('artist') ]]</td>
        <td>[[ tdata.get('album') ]]</td>
        <td>[[ tdata.get('trackNumber') ]]</td>
      </tr>
      [% }); /* tracks.forEach */ %]
    </tbody>
  </table>
</script>
{% endblock footer %}
