#playlist {
  @include scrollable-flexbox-container;

  .listing {
    font-size: smaller;
    width: 100%;
  }

  tbody tr {
    height: 60px;
  }

  .albumart {
    padding: 0;
    vertical-align: middle;
    width: $albumart-size;

    span {
      display: inline-block;
      height: $albumart-size;
      line-height: $albumart-size;
      text-align: center;
      width: $albumart-size;
    }

    span:hover {
      cursor: pointer;
    }

    .fa {
      font-size: 1.5em;
    }

    .fa-music {
      @include text-outline($main-bg);
    }

    .fa-spinner {
      background-image: radial-gradient($ui-element-bg, $transparent);
      border-radius: $albumart-size / 2;
    }

    .fa-play:hover {
      background-color: $ui-element-hover-bg;
    }

    > span {
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

#playlist-info {
  @include display(flex);
  @include flex-direction(row);
  height: 5em;

  .name {
    @include flexify;
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 5px;
    text-align: right;
  }
}
