#playlist {
  #playlist-info {
    h3 {
      float: left;
    }

    p {
      float: right;
    }
  }

  .listing {
    clear: both;
    font-size: smaller;

    tbody tr {
      height: 60px;
    }

    td.albumart {
      padding: 0;
      vertical-align: middle;
      $aa_size: 32px;

      span {
        display: inline-block;
        height: $aa_size;
        line-height: $aa_size;
        text-align: center;
        width: $aa_size;

        &.fa {
          font-size: 1.5em;
        }

        &.fa-music {
          @include text-outline(#fff);
        }

        &.fa-spinner {
          background-image: radial-gradient(#E6E6E6, rgba(255, 255, 255, 0));
          border-radius: $aa_size / 2;
        }

        &.fa-play:hover {
          background-color: rgba(230, 230, 230, 0.75);
        }

        &:hover {
          cursor: pointer;
        }
      }

      > span {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
