#playlist {
  @include flexify;

  > div {
    @include display(flex);
    @include flex-direction(column);
    width: 100%;
  }

  .playlist-contents {
    @include flexify;
    overflow-y: auto;
    width: 100%;

    > div {
      @include display(flex);
      @include value-prefixer(min-height, min-content, webkit moz);
      width: 100%;
    }
  }

  .listing {
    font-size: smaller;
    width: 100%;
  }

  tbody tr {
    height: 60px;
  }

  td.albumart {
    $aa-size: 32px;
    padding: 0;
    vertical-align: middle;
    width: $aa-size;

    span {
      display: inline-block;
      height: $aa-size;
      line-height: $aa-size;
      text-align: center;
      width: $aa-size;

      &:hover {
        cursor: pointer;
      }
    }

    .fa {
      font-size: 1.5em;
    }

    .fa-music {
      @include text-outline(#fff);
    }

    .fa-spinner {
      background-image: radial-gradient($ui-element-bg, rgba(255, 255, 255, 0));
      border-radius: $aa-size / 2;
    }

    .fa-play:hover {
      background-color: rgba(230, 230, 230, 0.75);
    }

    > span {
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

#playlist-info {
  @include display(flex);
  @include flex-direction(row);
  height: 5em;

  .name {
    @include flexify;
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 5px;
    text-align: right;
  }
}
