@import 'include/mixins';
@import 'include/variables';

main {
  margin-bottom: $player_height;
}

footer {
  background: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;

  button.pure-button {
    border-radius: 0;
  }
}

@import 'sections/player';
@import 'sections/playlist';

#copyright {
  font-size: smaller;
}

#playlists-loading {
  padding: 1em;
}

.invisible {
  visibility: hidden !important;
}
