@import 'mixins';

$progress_height: 2px;
$controls_height: 48px;
$player_height: $progress_height + $controls_height;

main {
  margin-bottom: $player_height;
}

footer {
  background: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;

  button.pure-button {
    border-radius: 0;
  }
}

#player {
  height: $player_height;

  nav {
    height: $controls_height;

    button {
      height: $controls_height;
      width: $controls_height;
    }
  }

  #now-playing {
    display: inline-block;
    width: 40%;

    .details {
      * {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      > * {
        display: block;
      }
    }

    .secondary {
      font-size: smaller;
    }
  }

  .albumart {
    float: left;
    height: $controls_height;
    padding-right: 5px;
    vertical-align: top;
  }

  .controls {
    position: absolute;
    top: 0;
  }

  .volume-control {
    display: inline-block;
  }

  #track-position {
    background: #fff;
    border: none;
    cursor: pointer;
    height: $progress_height;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #track-position::-webkit-progress-bar {
    background: #fff;
    border: none;
  }
}

#copyright {
  font-size: smaller;
}

#playlists-loading {
  padding: 1em;
}

#playlist {
  .listing {
    font-size: smaller;

    tbody tr {
      height: 60px;
    }

    td.albumart {
      padding: 0;
      vertical-align: middle;
      $aa_size: 32px;

      span {
        display: inline-block;
        height: $aa_size;
        line-height: $aa_size;
        text-align: center;
        width: $aa_size;
      }

      > span {
        background-size: contain;
        background-repeat: no-repeat;
      }

      span.fa {
        font-size: 1.5em;
      }

      span.fa-music {
        @include text-outline(#fff);
      }

      span.fa-spinner {
        background-image: radial-gradient(#E6E6E6, rgba(255, 255, 255, 0));
        border-radius: $aa_size / 2;
      }

      span.fa-play:hover {
        background-color: rgba(230, 230, 230, 0.75);
      }

      span:hover {
        cursor: pointer;
      }
    }
  }
}

.invisible {
  visibility: hidden !important;
}
