$roboto-font-path: 'vendor/roboto-fontface/fonts';

@import '../vendor/roboto-fontface/roboto-fontface';

$typl8-custom-font: Roboto;
$typl8-serif-boolean: false;

$typl8-font-size: 100;

@import '../vendor/typeplate/scss/typeplate';

$fa-font-path: 'vendor/font-awesome/fonts';

@import '../vendor/font-awesome/scss/font-awesome';
